* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #b22222 50%, #1e3d7b 50%);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border-bottom: 5px solid black;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: black;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
}

.nav-links li a:hover::before {
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  height: 4px;
  width: 35px;
  background-color: black;
  margin: 5px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: none;
    opacity: 0;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}
